.ActionCall{
  display: flex;
  justify-content: center;
  align-content: center;


}

.ActionCall__column{
  display: flex; 
  align-items: center; 
  flex-direction: column;
  vertical-align: middle;
}

.action-container{
  display: flex;
  justify-content: center;
  margin: 1.5em 0;

}

.action-container__svg{
  height: 25vh; 
  
}
