.CreateHelper{

  margin: 0 auto; 

}


.CreateHelper__form{

  margin: 0 auto; 
}


.create-controls{
  display: flex;
  justify-content: space-between;
}


.dropzone{

  height: 200px; 
  border: 1px dashed grey;  
  background-color: red;






}