

.dropzone{
  text-align: center;
  padding: 20px;
  border: 3px dashed $button-color;
  background-color: #fafafa;
  color: $button-color; 
  font-weight: 800;

  &:hover{
    background-color: darken($color: #fafafa, $amount: 10%);
    color: darken($color: $button-color, $amount: 10%)

  }



  p{
    color: $button-color

  }


}