// Colors 


$main-background: #fcefee;
$card-background: #ffa45c; 
$button-color: #ee5a5a; 
$nav-color: #f37d7d; 
$title-color:#3a3a38; 
$body-color:#5d5d5a ; 


// Fonts

$title-font: 'Roboto Mono', monospace;
$body-font: 'Roboto', sans-serif; 
 
